<template>
  <v-app>

      <router-view></router-view>
  </v-app>
</template>

<script>
  export default {
      data () {
          return {
              sideNav: false
          }
      },
      computed: {
          menuItems () {
              let menuItems = [
          {icon: 'face', title: 'Sign up', link: '/signup'},
          {icon: 'lock_open', title: 'Sign in', link: '/login'}
              ]
              if (this.userIsAuthenticated) {
                  menuItems = [
            {icon: 'person', title: 'Profile', link: '/profile'}
                  ]
              }
              return menuItems
          },
          userIsAuthenticated () {
              return this.$store.getters.user !== null && this.$store.getters.user !== undefined
          },
          user () {
              return this.$store.getters.user
          }
      },
      methods: {
          onLogout () {
              this.$store.dispatch('logout')
              this.$router.push('/')
          }
      }
  }
</script>

<style lang="scss">
    @import "~@/scss/App.scss";
</style>
