/**
 * Colors
 */

$color-primary: #00b7d8;
$color-primary-alternative: #00adcc;
$color-primary-heavy: #009cb7;
$color-ice: #fafdff;
$color-hover: #f4f5f7;
$color-gray-one: #efe9ed;
$color-gray-two: #959ba6;
$color-gray-three: #94989a;
$color-gray-four: #6a6e76;
$color-white: #ffffff;
$color-yellow: #ffde22;
$color-orange: #f68634;
$color-red: #ec3237;
$color-green: #abcf47;
$color-cyan: #57cbd6;
$color-heavy-blue: #3054a0;
$color-black: #232323;