<template>
  <Root/>
</template>

<script>
import Root from '@/containers/Root'

export default {
    components: {
        Root
    }
}
</script>

<style lang="stylus">
  @import './stylus/main'
</style>
