@import "./__config-base.scss";

.animated {
  	-webkit-animation-duration: 1s;
  	animation-duration: 800ms;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.fadeIn {
  	-webkit-animation-name: fadeIn;
  	animation-name: fadeIn;
}

.fadeOut {
 	-webkit-animation-name: fadeOut;
  	animation-name: fadeOut;
}

@keyframes fadeIn {
  	from {
    	opacity: 0;
  	}

  	to {
    	opacity: 1;
  	}
}

@-webkit-keyframes fadeOut {
  	from {
    	opacity: 1;
  	}

  	to {
    	opacity: 0;
  	}
}
